.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: ghostwhite;
}

.topButton {
    width: 100%;
    display: flex;
    justify-self: center;
    margin: 10px;
}

.btn {
    margin-left: 10px !important;
}

.textField {
    height: 23vh;
}

.bottomButton {
    margin-top: 5% !important;
}

.commentBlock {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 5%;
    
}